html, body { 
	margin:0; 
	padding:0; 
	height:100%; 
	background-color: #f2f2f2;
}

.header {
	height:6vmax;
	max-width:100%;
	display:flex;
	flex-flow:row;
	justify-content: space-between;
	align-items:center;
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
	background: -webkit-linear-gradient(top, #373737, #212121);
	color:white;
}

.headerTitle {
	font-size:24px;
	font-weight:bold;
}

.githubLink {
	color: white;
}

.githubLinkText {

}

.octicon {
	position: absolute;
	display: inline-block;
	height:36px;
	width:20px;
	fill: currentColor;
}

.main {
	display: flex;
	flex-flow:wrap;
	align-content: flex-start;
	width: 100%;
	height: 100%;
}

.sidebar {
	width: 100%;
	max-height:100%;
	background-color:#f2f2f2;
	overflow:hidden;
	transition: all 0.3s ease;
}

.sidebarHidden {
	max-height:0px;
}

.sidebarHeader {
	background: -webkit-linear-gradient(top, #373737, #212121);
	font-size: 24px;
	color: white;
	padding: 10px;
	font-family: Courier New, Courier, monospace;
	cursor: pointer;
	user-select: none;
	text-align: center;
}
.sidebarToggleWrap {
	padding:10px;
	cursor:pointer;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.sidebarToggle,
.sidebarToggle::before,
.sidebarToggle::after,
.sidebarToggleWrap.active .sidebarToggle,
.sidebarToggleWrap.active .sidebarToggle::before,
.sidebarToggleWrap.active .sidebarToggle::after {
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}
.sidebarToggle {
	width: 38px;
	margin: 10px 0;
	position: relative;
	user-select:none;
	cursor:pointer;
	border-top: 3px solid white;
	display:block;
}
.sidebarToggle::before,
.sidebarToggle::after {
	content: "";
	display: block;
	background: white;
	height: 3px;
	width: 38px;
	position: absolute;
	top: -14px;
	-ms-transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-ms-transform-origin: 9%;
	-webkit-transform-origin: 9%;
	transform-origin: 9%;
}
.sidebarToggle::after {
  top: 8px;
}
.sidebarToggleWrap.active .sidebarToggle {
  border-top: 3px solid transparent;
}
.sidebarToggleWrap.active .sidebarToggle::before {
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.sidebarToggleWrap.active .sidebarToggle::after {
	-ms-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.sidebarList {
	background-color: #f2f2f2;
}

.sidebarElement {
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
	background-color: #c9c9c9;
	cursor: pointer;
	padding: 10px;
	font-size: 15px;
	font-family: monospace;
	font-weight: bold;
	color: black;
	user-select: none;
	text-align: center;
	margin-top: 5px;
}

.sidebarSection {
	border:1px solid grey;
	user-select: none;
	text-align: center;
	margin-top: 5px;
}
.sectionTitle {
	cursor: pointer;
	font-size: 15px;
	color: black;
	padding:7px;
}
.sectionTitle:hover {
	color: #f2f2f2;
	background-color: dimgrey;
}

.sidebarElement:hover {
	color: #f2f2f2;
	background-color: dimgrey;
}

.content {
	padding-top:25px;
}

.dimmer {
	z-index: 98;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loadIndicator {
	z-index: 99;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0, 0, 0, 1);
}

@-webkit-keyframes pulse {
	0% {
		background-color: white;
	}
	20% {
		background-color: lightgrey;
	}
	30% {
		background-color: white;
	}
	40% {
		background-color: lightgrey;
		width: 39px;
		height: 39px;
	}
	50% {
		box-shadow: 0 0 0px 20px rgba(255, 255, 255, 0.3);
		background-color: white;
	}
	100% {
		box-shadow: 0 0 2px 200px rgba(0, 0, 0, 0);
		background-color: grey;
	}
}

@-moz-keyframes pulse {
	0% {
		background-color: white;
	}
	20% {
		background-color: lightgrey;
	}
	30% {
		background-color: white;
	}
	40% {
		background-color: lightgrey;
		width: 39px;
		height: 39px;
	}
	50% {
		box-shadow: 0 0 0px 20px rgba(255, 255, 255, 0.3);
		background-color: white;
	}
	100% {
		box-shadow: 0 0 2px 200px rgba(0, 0, 0, 0);
		background-color: grey;
	}
}

@-ms-keyframes pulse {
	0% {
		background-color: white;
	}
	20% {
		background-color: lightgrey;
	}
	30% {
		background-color: white;
	}
	40% {
		background-color: lightgrey;
		width: 39px;
		height: 39px;
	}
	50% {
		box-shadow: 0 0 0px 20px rgba(255, 255, 255, 0.3);
		background-color: white;
	}
	100% {
		box-shadow: 0 0 2px 200px rgba(0, 0, 0, 0);
		background-color: grey;
	}
}

@keyframes pulse {
	0% {
		background-color: white;
	}
	20% {
		background-color: lightgrey;
	}
	30% {
		background-color: white;
	}
	40% {
		background-color: lightgrey;
		width: 39px;
		height: 39px;
	}
	50% {
		box-shadow: 0 0 0px 20px rgba(255, 255, 255, 0.3);
		background-color: white;
	}
	100% {
		box-shadow: 0 0 2px 200px rgba(0, 0, 0, 0);
		background-color: grey;
	}
}

.error {
	padding-top: 100px;
	font-size: 24px;
	text-align: center;
	width: 100%;
}

.hidden {
	display: none;
}

.invisible {
	visibility: hidden;
}

code {
	padding-top:0px;
	line-height:1.5;
	tab-size:4;
	font-size:16px;
	hyphens:none;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;
	background-color:#fdfdfd;
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	background-attachment: local;
}

pre>code {
	display: block;
}

ul {
	padding-left:10px;
	list-style:disc;
}

@media (min-width: 900px) {
	.header {
		background:transparent;
		height:50px;
		color:black;
	}
	.githubLink {
		color: black;
	}
	.main {
		flex-flow: row;
		align-content: space-around;
		justify-content: space-around;
	}
	.sidebar {
		padding-right:5px;
		margin-right:10px;
		max-width:25vw;
		min-height:100%;
	}
	.sidebarHeader {
		background:transparent;
		color:black;
	}
	.sidebarToggle {
		border-color:black;
	}
	.sidebarToggle::before,
	.sidebarToggle::after {
		background:black;
	}
	.sidebarHidden {
		padding:0px;
		margin:0px;
		width:0px;
	}
	.sidebarList {
		overflow-y: visible;
	}
}