html {
	background-color: #f2f2f2;
}

body {
	background-color: #f2f2f2;
	margin:0;
}

.main {
	display: flex;
	flex-flow: column;
	align-content: center;
	justify-content: space-between;
	width: 100%;
}

.sidebar {
	width: 100%;
	height: auto;
	background-color:#f2f2f2;
}

.sidebarHeader {
	background: -webkit-linear-gradient(top, #373737, #212121);
	font-size: 24px;
	color: white;
	padding: 10px;
	font-family: Courier New, Courier, monospace;
	cursor: pointer;
	user-select: none;
	text-align: center;
}

.sidebarList {
	background-color: #f2f2f2;
}

.sidebarElement {
	background-color: #c9c9c9;
	cursor: pointer;
	padding: 10px;
	font-size: 15px;
	font-family: monospace;
	font-weight: bold;
	color: black;
	user-select: none;
	text-align: center;
	margin-top: 5px;
}

.sidebarSection {
	border:1px solid grey;
	user-select: none;
	text-align: center;
	margin-top: 5px;
}
.sectionTitle {
	cursor: pointer;
	font-size: 15px;
	color: black;
	padding:7px;
}
.sectionTitle:hover {
	color: #f2f2f2;
	background-color: dimgrey;
}

.sidebarElement:hover {
	color: #f2f2f2;
	background-color: dimgrey;
}

.content {
	position:relative;
	padding-top:25px;
}

.dimmer {
	z-index: 98;
	height: 100%;
	width: 100%;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	align-items: center;
	justify-content: center;
}

.loadIndicator {
	z-index: 99;
	margin: 0 auto;
	width: 30px;
	height: 30px;
	background-color: white;
	border-radius: 50%;
	box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
	-webkit-animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
	-moz-animation: pulse 1.25s infinite cubic-bezier(0, 0, 0, 1);
	-ms-animation: pulse 1.25s infinite cubic-bezier(0, 0, 0, 1);
	animation: pulse 1.25s infinite cubic-bezier(0, 0, 0, 1);
}

@-webkit-keyframes pulse {
	0% {
		background-color: white;
	}
	20% {
		background-color: lightgrey;
	}
	30% {
		background-color: white;
	}
	40% {
		background-color: lightgrey;
		width: 39px;
		height: 39px;
	}
	50% {
		box-shadow: 0 0 0px 20px rgba(255, 255, 255, 0.3);
		background-color: white;
	}
	100% {
		box-shadow: 0 0 2px 200px rgba(0, 0, 0, 0);
		background-color: grey;
	}
}

@-moz-keyframes pulse {
	0% {
		background-color: white;
	}
	20% {
		background-color: lightgrey;
	}
	30% {
		background-color: white;
	}
	40% {
		background-color: lightgrey;
		width: 39px;
		height: 39px;
	}
	50% {
		box-shadow: 0 0 0px 20px rgba(255, 255, 255, 0.3);
		background-color: white;
	}
	100% {
		box-shadow: 0 0 2px 200px rgba(0, 0, 0, 0);
		background-color: grey;
	}
}

@-ms-keyframes pulse {
	0% {
		background-color: white;
	}
	20% {
		background-color: lightgrey;
	}
	30% {
		background-color: white;
	}
	40% {
		background-color: lightgrey;
		width: 39px;
		height: 39px;
	}
	50% {
		box-shadow: 0 0 0px 20px rgba(255, 255, 255, 0.3);
		background-color: white;
	}
	100% {
		box-shadow: 0 0 2px 200px rgba(0, 0, 0, 0);
		background-color: grey;
	}
}

@keyframes pulse {
	0% {
		background-color: white;
	}
	20% {
		background-color: lightgrey;
	}
	30% {
		background-color: white;
	}
	40% {
		background-color: lightgrey;
		width: 39px;
		height: 39px;
	}
	50% {
		box-shadow: 0 0 0px 20px rgba(255, 255, 255, 0.3);
		background-color: white;
	}
	100% {
		box-shadow: 0 0 2px 200px rgba(0, 0, 0, 0);
		background-color: grey;
	}
}

.error {
	padding-top: 100px;
	font-size: 24px;
	text-align: center;
	width: 100%;
}

.hidden {
	display: none;
}


code {
	padding-top:0px;
	line-height:1.5;
	tab-size:4;
	font-size:16px;
	hyphens:none;
	-webkit-hyphens:none;
	-moz-hyphens:none;
	-ms-hyphens:none;
	background-color:#fdfdfd;
	background-image: linear-gradient(transparent 50%, rgba(69, 142, 209, 0.04) 50%);
	background-size: 3em 3em;
	background-origin: content-box;
	background-attachment: local;
}

pre>code {
	display: block;
}

ul {
	padding-left:10px;
	list-style:disc;
}

@media (min-width: 900px) {
	.main {
		flex-flow: row;
		align-content: space-around;
		justify-content: space-around;
	}
	.container {
		padding-right:10px;
	}
	.sidebar {
		padding-left:10px;
		padding-right:10px;
		width: 300px;
		max-height: auto;
	}
	.sidebarList {
		overflow-y: visible;
	}
}